$dark-violet: hsl(256, 26%, 20%);
$dm-font: 'DM Serif Display', serif;
$break-small: 375px;
$break-large: 1440px;

$theme-colors: (
  "primary": #2d2640,
  "danger": #ff4136
);

.navbar {
    padding: 1% 10%;
}

.nav-item {
    text-decoration: none;
}

.nav-link {
    text-align: right;
    font-size: 0.75rem;
}

.nav-view-plans {
    border: solid black;
}

#title {
    background: $dark-violet;
}

#header {
    font-family: $dm-font;
    font-size: 3rem;
    font-weight: 400;
    padding: 5% 5% 10% 10%;
    width: 40%;
    margin: 5%;
}  

.title-img {
    float: right;
    position: absolute;
    right: 150px;
    top: 150px;
}

body {

    font-family: 'Karla', sans-serif;
}

@media (max-width: $break-large) {
    
}

@media (max-width: $break-small) {
    
    .title-img {
        float: none;
        position: relative;
        width: 100%;
        padding: 0;
    }
}

// Command to load sass and watch for updates
// sass --watch main.scss css/styles.css